<% if false %>
<%= form_tag("/users/#{@user.id}", method: "PUT") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username, @user.username) %><br><br>
  <%= label_tag(:email, "Email:") %>
  <%= email_field_tag 'email', @user.email %><br><br>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag 'password', @user.password %><br><br>
  <%= submit_tag("Save") %>
<% end %>
<% end %>
<% if false %>
<%= form_tag "/users/#{@user.id}", method: "put" do %>
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]" value="<%= @user.username %>"><br><br>
  <label for="email">email:</label>
  <input type="email" id="email" name="user[email]" value="<%= @user.email %>"><br><br>
    <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]" value="<%= @user.password %>"><br><br>
  <button type="submit">Update</button>
<% end %>
<%end%>

<%= form_for(@user) do |f| %>
 <p>
    <%= f.label :Username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>